[2015-07-23 16:37] psolymos opened #1 "Compilance check"
Check base R source code and follow changes for 'apply', 'sapply', 'replicate'.

[2015-07-23 16:37] psolymos opened #2 "when NULL is returned the outputs of lapply and pblapply differ"

[2015-07-23 16:38] psolymos commented on #2
fixed: 50e1da0b8a48484ab6a26116648a6f7ba07fb22b

[2015-07-23 16:49] psolymos commented on #1
Fixed: 0ed55d8b300ef20867d11d8053219e8935fcdc62
Nedds testing.

[2015-07-23 16:49] #2 closed

[2015-07-23 16:59] psolymos commented on #1
examples updated and checked: f5c14b2ad0b05afd54c24c91779231a8c2a7b892

[2015-07-23 16:59] #1 closed

[2015-11-24 21:26] psolymos opened #3 "your new version of the package fails under R-oldrelease (R-3.1.3)"
Dear maintainer,

your new version of the package fails under R-oldrelease (R-3.1.3):

https://www.r-project.org/nosvn/R.check/r-oldrel-windows-ix86+x86_64/pbapply-00check.html

Please fix or declare a proper version dependency.

Best,
Uwe Ligges

--
using R version 3.1.3 (2015-03-09)
using platform: x86_64-w64-mingw32 (64-bit)
using session charset: ISO8859-1
checking for file 'pbapply/DESCRIPTIO

[2015-11-24 21:28] #3 closed

[2016-03-31 17:25] psolymos opened #5 "Add option to timerProgressBar to show elapsed time"
Wish from Berry Boessenkool:

at the end, replace the remaining time (~00s) with the computation time used.

[2016-03-31 22:40] psolymos commented on #5
Created [time-elapsed branch](https://github.com/psolymos/pbapply/compare/time-elapsed) and working version is in 5ae72bbb9eeac53592b614db8c5cbdde853158b4

[2016-04-01 22:36] #5 closed

[2016-06-03 03:01] psolymos opened #8 "Version 1.2-2"
I am scheduling a minor release. There has been some restructuring in the package: `ChangeLog` is now called `NEWS.md`. So copying from the news file, here are user-visible changes in this upcoming release:

* Stylistic changes in printed messages.
* Default pb type is `'none'` when `!interactive()`.

If there are no other issues or feature requests I will go ahead and submit to CRAN in a couple o

[2016-06-15 14:26] kendonB opened #9 "Feature request: parallel functions"
Currently, there's no nice way to get progress bars for parallel::*apply functions - the best I'm able to do on Windows is write to a .txt log file from each process, which is cumbersome.

[2016-06-15 14:54] psolymos commented on #9
@kendonB: not sure about `mclapply`, but the `par*apply` functions split the workload and push that to the workers, so the main process is only idling thus no real progress to show. Right now I can't see an easy way of implementing the request, but I am open to suggestions.

[2016-06-15 15:14] kendonB commented on #9
Perhaps a solution is through a text file on disk. The main process could periodically read the file and output something to the console. I have no idea how easy this might be and how deep into the parallel package functions you might have to go to get it to periodically monitor something.

[2016-08-25 20:32] #8 closed

[2016-09-07 18:31] kvnkuang commented on #9
Hi there, I recently submitted a package to track the parallel apply functions (mc*apply). It's on CRAN already: https://cran.r-project.org/web/packages/pbmcapply/index.html.

[2016-09-07 18:48] psolymos commented on #9
@kvnkuang : thanks for the note, it is great to see the package addressing the feature request for forking type parallelism. I consider #9 closed for now.

[2016-09-07 19:07] kendonB commented on #9
I'd suggest keeping this open as it doesn't yet work for Windows

[2016-09-07 19:10] kvnkuang commented on #9
Hey @kendonB, since forking is not supported on Windows, mc*apply will throw an error if you try to run it on Windows with num.cores >= 1. So unfortunately the package cannot work on Windows as a result.

[2016-09-07 19:43] psolymos commented on #9
Maybe a solution similar to `parLapplyLB` could be implemented by increased communication overhead among the workers. This could work on Windows.

[2016-09-08 16:16] psolymos commented on #9
@kendonB : see my take on a possible solution 9bf861b0dd64aa0b4f51d0a7ad7f3c3ada244738 . The same idea can be carried forward for similar functions. By adding the `cl` argument after `...` I can see that I add the option for parallel processing to `pblapply` instead of having it in a separate function.

The main difference relative to what `parallel::parLapply` does is this:

[code]

which means t

[2016-09-08 18:56] psolymos commented on #9
This is now in the `pb-parallel` branch. Here is a todo list:

- [x] implement parallel option in this as part of `pblapply` through `cl` argument
- [x] implement `mclapply` based forking when `is.integer(cl)`
- [ ] test forking on Unix
- [ ] update examples with parallel feature and add timings (use `dontrun{}`)
- [ ] remind folks that objects need to be pushed to cluster
- [ ] remind folks that

[2016-09-08 23:18] psolymos commented on #9
Forking on Ubuntu Linux technically works, but the performance is very bad. So far it looks like that neither my implementation, nor @kvnkuang 's `pbmcapply::pbmclapply` seem to give huge improvement in this particular bootstrap example:

[code]

As opposed to forking, snow type clusters work much faster and the improvement is reasonable even with increased overhead:

[code]

I am also tempted to

[2016-09-12 00:58] psolymos commented on #9
See some timing results in [this](http://peter.solymos.org/code/2016/09/11/what-is-the-cost-of-a-progress-bar-in-r.html) blog post.

[2016-09-14 22:02] psolymos commented on #9
PR #10 closes this feature request.

[2016-09-14 22:02] #9 closed

[2016-10-05 17:47] psolymos opened #12 "Print progress bar only when exceeding minimum estimated completion time"
Use a global option (`pboptions`) for setting `min_time` in seconds. Print progress bar only if estimated completion time exceeds this preset minimum.

Default value of `min_time` should be 0. This would ensure back compatibility and proper testing (e.g. test should be quick). But would add value to packages where the feature would make progress bars less intrusive for quick runs.

`min_time > 0`

[2016-10-05 20:27] psolymos commented on #12
PR #13 closed this.

[2016-10-05 20:27] #12 closed

[2016-12-05 01:22] psolymos opened #14 "Notify user when job is done"
Use [notifier](https://github.com/gaborcsardi/notifier#readme) to bring up a notification when long run is done (e.g. total runtime is longer than preset `notify` option), e.g. as explained [here](http://stackoverflow.com/questions/27129622/define-a-callback-for-command-start/40963728#40963728). Close pb, evaluate proc time and notify if needed.

[2016-12-06 17:23] zeehio opened #15 "Do not show progress bar if knitting"
When a document is being rendered with knitr, `is.null(getOption("knitr.in.progress"))` will be `FALSE`.

Is it possible to use that option so *by default* the progress bar is not shown when knitting a document, even if the knitting is done from an interactive console? I would think that is the usual expected behaviour.

This is how is being done in the dplyr package:

https://github.com/hadley/dp

[2016-12-06 18:32] psolymos commented on #15
pbapply does not currently check knitr options, but I guess it could. The interactive mode is checked in `zzz.R` during `.onLoad`. Checking knitr option would not impose dependency, so it is a good suggestion.

I actually did not want the progress bar shown when knitting, because it prints a line for every update. But if you want it back, it is certainly doable in one way or another. You can turn

[2016-12-06 18:35] psolymos commented on #15
I re-read your comment. OK, makes sense. You do not want the pb shown even when it is interactively running through knitr.  It should be an easy fix, will need some testing.

[2016-12-06 19:28] psolymos commented on #15
Now it works as expected, see example at the end of the `tests.R` file [here](https://github.com/psolymos/pbapply/blob/master/tests/tests.R).

[2016-12-06 19:28] #15 closed

[2017-01-06 00:02] Bioscar opened #16 "pbreplicate repeat and if statment"
To whom it may concern,

I think that your package is great and quite useful for make simulations, but when I try a function like this:

repeat{
if(   ) {break}
}

I found that the calculated time is not precise  and I would like to communicate this incident to you, so maybe you can fix it.

Thanks for reading

Óscar

[2017-01-06 00:37] psolymos commented on #16
@Bioscar : thanks for reporting the issue. My guess is that `break` makes the processing time of each unit evaluation variable and only approximate. Similarly to this (you need to run it to see remaining time going back and forth):

[code]

Remaining time is based on extrapolating average from previous steps.

[2017-02-28 12:48] LHMarshall opened #17 "Error when only one core in cluster"
Thanks for this great package!

I found the error message below when running in a Windows XP VM with two cores but my code only allows the user to access one less than the available number so in this case 1 (a rather bizarre thing to do... I hadn't realised this would mean that it would only have one core so not much point in trying to run in parallel but I discovered this small bug so thought I'd

[2017-02-28 16:54] #17 closed

[2017-02-28 16:54] psolymos commented on #17
@LHMarshall : thanks for tracing down the issue. Here is how I fixed it:

[code]

Now it works as expected and the following code added to unit tests:

[code]

[2017-02-28 16:57] #16 closed

[2017-03-12 22:19] xelibrion opened #18 "Display a warning if pboptions is not set"
I think it would make sense output a warning message if someone used `pb*apply` method, but did not specify call `pboptions` prior to call to `pb*apply`.

[2017-03-12 23:20] psolymos commented on #18
@xelibrion : the default options are already set when you load the package. Can you give an example when a warning is needed?

[2017-03-12 23:58] xelibrion commented on #18
The behaviour I've seen that if I don't call
[code]
before `pb*apply`, it wasn't really showing any progress. Or maybe it was, but there's no immediate feedback, so it confused me.

[2017-03-13 00:35] psolymos commented on #18
It must be related to the `min_time` option. The 1st runs are used to estimate total run time to see if `total_time` > `min_time`. If not, no progress bar is shown. Maybe I should change the code so that it starts showing the bar when `min_time` is 0.

[2017-03-13 00:49] psolymos commented on #18
See commit 355ae72d2dcaccce968d5c2565624ad6ce7ed9c5 which closes this.

[2017-03-13 00:49] #18 closed

[2017-03-15 20:11] brry opened #20 "pbReduce?"
I find myself using
`MERGED_DF <- Reduce(function(...) merge(..., all=T), LIST_WITH_DFS )`
and thought it would be nice to have a progress bar for that one as well.

Just in case you're bored (or interested):
Would it be hard to create a pbReduce function just like pblapply, pbreplicate etc?

[2017-03-16 15:52] psolymos commented on #20
@brry thanks for the suggestion. I took a stab at it but something quite strange is happening that I need to understand better. Basically, the pb is there all right, but the output from `Reduce` and `pbReduce` does not match for some reason.

[2017-04-03 19:02] psolymos opened #21 "Add pbtapply function"
Adapt `base::tapply` function as `pbtapply`.

[code]

Some examples:

[code]

[2017-04-04 17:53] psolymos commented on #21
Function spends most of its time outside of `lapply`.

[2017-04-06 16:02] psolymos opened #22 "Determine precedence for nested pb"
The 1st pb should take precedence over subsequent nested pb calls.

[code]

Outputs are identical (10x pb), but we want only one pb.

Setting type to none is not a solution here because it will simply not show anything.

Switching inside a function between `lapply` and `pblapply` depending on a T/F switch is clumsy.

Need to set a boolean option on load, e.g. `pb.in.progress` and evaluate that in

[2017-04-06 16:29] psolymos commented on #22
It looks like that `pboptions` can be used in multiple ways, the 1st is a hack, the second is the preferred way:

[code]

Example added to help page `?pboptions`.

[2017-04-06 16:31] kendonB commented on #22
A wonderful outcome here would be for the nested pb's to be combined somehow. Say the outside progress bar has 5 elements to go through, and the inside ones each have 20, a tick on the inside one could move the outside one by 1/100th. Is this possible?

The main application for me would be when parallelizing. I often split a parallel operation into the number of threads (or some multiple thereof),

[2017-04-06 16:36] psolymos commented on #22
@kendonB: let me know of the above example works as expected. It works fine for my use case. I have a function which makes a pb. When I do LOO cross validation, I want the LOO loop to show the pb, and switch off pb for the inside function.

It turned out simpler to solve than expected.

[2017-04-06 17:08] kendonB commented on #22
For me, the above does work and I only see one pb. However, my suggestion was that, instead of the pb stepping through 10% at a time, it would step through 1% at a time based on the combined progress of the inside and outside pb's.

[2017-04-06 17:09] kendonB commented on #22
I'm imagining a case where the outside pb is very slow, and the user benefits from seeing the progress of the inside one.

[2017-04-06 17:16] psolymos commented on #22
Sounds a bit more complicated. Will open a separate issue for it.

[2017-04-06 17:16] #22 closed

[2017-04-06 17:18] psolymos opened #23 "Show combined progress of nested progress bars"
Issue #22 concerned nested pb from the sens of showing only the one taking precedence. This could make the pb resolution quite coarse, i.e. jumping at 10%.

Would be nice to show more fine grained progress, or 'subprogress'.

[2017-04-10 16:27] pbulsink opened #24 "pbapply parallel"
I know a number of the functions were parallelized in PR #10 as requested in issue #9, but that fails to parallelize `pbapply(X, MARGIN, FUN, ...) `. If there's not a particular block, could that be added?

[2017-04-10 17:45] psolymos commented on #24
It would require a rewrite, but it is doable.

The reason it is not implemented is that it has a loop with `setpb`/`closepb` etc in it following the original `apply` code as close as possible.

Adding parallel support would be achieved by using `pblapply`. Here is how I think it can be done:

1. add `cl` argument with `NULL` as default -- this would mean no change.
2. call `pblapply` when `!is.nul

[2017-04-14 12:33] pbulsink commented on #24
To use pblapply over rows, would you need to transpose the original data frame first?
`df<-data.frame(x=runif(5), y=runif(5), z=runif(5)
lapply(df, sum) #column sums
lapply(as.data.frame(t(df)), sums) #row sums
`
This could run into some memory problems if the data frame is large. Any other suggestions for wrapping apply as lapply?

[2017-04-14 14:28] kendonB commented on #24
``lapply(seq_len(nrow(df), yourfunction)``? The smartest thing to do depends on the actual operation you're doing. *apply loops are slow.

[2017-04-14 16:35] psolymos commented on #24
I was thinking something like:

[code]

This would not require transpose.

[2017-04-14 23:07] psolymos commented on #20
Just copying here what I have got so far, someone might get a kick at it. Results do not match, some invisible objects clash is my guess.

[code]

[2017-04-14 23:15] psolymos commented on #24
I could forge together a solution based on `parallel::parApply` which turned out to follow the same logic as `base::apply` and happened to use `parLapply` which was then substituted by `parlapply`. Easy peasy. See pbapply-parallel branch. Just waiting for test to pass and will merge it with master.

[2017-04-15 00:07] psolymos commented on #24
PR #25 closed this issue.

[2017-04-15 00:07] #24 closed

[2017-07-31 09:49] konstunn opened #26 "How can I print progress bar to stderr so I can see it when I knit my document?"
Hello. Thanx for your work.

I use knitr to knit my document and use pbapply.

I can not see progress bar when I knit my document. Knitr show what's going on stderr while knitting.

I try to sink
[code]
But it does not work. There is no progress bar.

What would you suggest?

My session info is (just in case):
[code]

Thanx in advance.

[2017-08-06 15:10] psolymos commented on #26
@konstunn the issue is related to #15 and is related to `interactive() && is.null(getOption("knitr.in.progress"))`. If you want to override this, there needs to be an option that takes precedent over these. I.e. as part of `pboptions` for example.

[2017-08-09 20:23] TarasDerevianko opened #28 "load balancing"
The parLapplyLB is better choice for parallelization task.

Could you change this in the next version of package?

[2017-08-16 06:38] psolymos commented on #28
I can add an option to switch to LB. I would not prefer LB as the default, as the sequence of job execution is not reproducible with LB.

[2017-08-24 21:06] psolymos commented on #28
This will switch on load balancing for parallel clusters:

[code]

[2017-08-24 21:06] #28 closed

[2017-09-26 15:19] japhir opened #29 "no pb version for mapply/mcmapply?"
Hi! Am I understanding correctly that there is no pb version of mapply? I'm running a complicated function on a long dataframe of different parameter configurations. Since it is taking so long, I thought it might be nice to show a progress bar. A version that also works with mcmapply (the parallel version of mapply) would be even better.

Cheers!

[2017-09-26 16:10] psolymos commented on #29
@japhir : I have looked at it in the past, but the problem is that `mapply` uses `.Internal(mapply(FUN, dots, MoreArgs))` which is not as straightforward to hack. R ext doc says:

I will give it a thought, but suggestions are welcome!

[2017-09-26 16:25] japhir commented on #29
Sounds like you've looked into it already. The parallel computing functions I'm using now are all new to me, so I don't think I can be of help in this instance :(. Thanks!

[2018-01-17 18:58] zzawadz commented on #29
Maybe a code like this can be used here:

[code]

However, I think that creating of the `argList` will be an overkill:(

All other stuff like recycling over the longest vector in the arguments are only an implementations details.

[2018-01-17 21:22] #26 closed

[2018-01-17 21:32] psolymos commented on #23
One way of doing it would be to have the `FUN`ctions inside the nested calls increment the pb counter using `<<-`. A use case that I see would be to (1) do some data processing; (2) do some analysis; (3) summarize the model output. Instead of a single list of calls, I'd rather do it one step at a time to allow some checking. Especially if it is a long process, I don't want to get the final output

[2018-01-23 00:17] dashaub opened #30 "pbapply hanging and when lapply succeeds"
I'm encountering a strange scenario where `lapply` succeeds but `pblapply` hangs with a mysterious `Selection:` message. Strangely this also occurs on only a very small subset of my data (`50:60`, but but `lapply` and `pblapply` work on other slices of the data).

Regular `lapply` works fine
[code]
pblapply hangs
[code]

`tsFeatures()` is complex function that I wrote that contains many package de

[2018-01-23 00:19] dashaub commented on #30
Thinking about it, the `Selection: ` message looks like the CRAN mirror selection menu from `install.packages()` or `update.packages()`.
[code]
Not sure why this would need to be called in `pblapply` but not `lappply`. Any ideas?

[2018-01-23 02:13] psolymos commented on #30
@dashaub I am not sure why the `Selection:` message without looking at your code (you can send it privately if you want me to look at it). It is likely related to install/update packages as you pointed out but not sure why, given that it only happens to some part of the jobs and not for others.

I tried Fork cluster with other examples and it worked. You can check if your code works with `parallel

[2018-01-23 02:26] psolymos opened #31 "parLapply with makeForkCluster is faster than mclapply"
Forking [builds up overhead](http://peter.solymos.org/code/2016/09/11/what-is-the-cost-of-a-progress-bar-in-r.html), but #30 gave a hint that using Fork cluster can be considerably faster than `mclapply`:

[code]

I was wondering if this should be exploited for instances when `cl` argument is integer (indicating forking). We would then create a Fork cluster (`cl <- makeForkCluster(cl)`), run `parL

[2018-01-23 03:21] psolymos commented on #31
It turns our that **pbapply** now cathed up to **pbmcapply**:

[code]

[2018-01-23 04:41] psolymos commented on #31
I typed up my findings [here](http://peter.solymos.org/code/2018/01/23/the-progress-bar-just-got-a-lot-cheaper.html).

I am a bit reluctant of merging the new branch for the following reasons:

* `makeForkCluster` was already an option before by explicitly stating the cluster to be a Fork;
* by hiding the process of creating and destroying the cluster, user options are restricted (i.e. no control

[2018-01-23 04:50] #31 closed

[2018-01-23 16:34] dashaub commented on #30
Very helpful debug suggestion. Same problem with `parLapply`. But when I run it with `mclapply` I get a segfault and a useful diagnostic to follow.
[code]
Thanks for your help and work on this great package.

[2018-01-23 16:34] #30 closed

[2018-01-23 16:43] psolymos commented on #30
That's really helpful. Thanks for reporting back.

[2018-02-28 19:14] jolespin opened #32 "Pbapply does not work when using Rscript"
I want to direct my progressbar to stderr while I run a long computation but is not working for even a simple example when I'm using Rscript.

It's working interactively:
[code]

but when I run it as an `Rscript` it is not working.  I would like to configure this so I can get the progressbar to update within the stderr.

[code]

[2018-02-28 19:44] psolymos commented on #32
Try setting the type option, otherwise the `.onLoad` will detect that the session is `!interactive()` and will set it to `"none"`:

[code]

See #15 and #26 for similar questions in a **knitr** context.

[2018-02-28 19:44] #32 closed

[2018-03-23 03:31] kendonB opened #33 "Make progressbar return empty list for empty vector"
[code]

[2018-03-23 05:13] #33 closed

[2018-04-08 23:21] psolymos opened #34 "pbapply runs the parallel batches sequentially and not in parallel"
It seems (at least on Linux and MacOS... got no Windows) that pbapply runs the parallel batches sequentially and not in parallel.

MRE:

[code]

This should last ~ 17 not 30 seconds in an ideal world.
pbapply waits that the first 15 job is finished before moving on.

For comparison, foreach does the job as expected (but require horrible coding):

[code]

It may be a design choice but maybe not.

I

[2018-04-08 23:57] psolymos commented on #34
Batches are made so that pb can be updated in between. This does not quite allow load balancing to reach full efficiency. So what pbapply does is geared more towards equally sized jobs. Estimating runtime is also difficult with variable run times, but of course % of jobs complete still make sense.

Sending all the jobs with load balancing gives the desired outcome, but without a progress bar:

[co

[2018-04-09 06:55] courtiol commented on #34
Many thanks  @psolymos for the explanation!

I am using pbapply to refit models after bootstrapping the data.
Therefore the timing cannot be anticipated.

In this context, I am a bit confused by the package option ```use_lb```.
The documentation specifies for ```use_lb```:

Setting the value to ```TRUE``` with my MRE (see above) did not help.
Which are the conditions under which the option is actu

[2018-04-09 16:57] psolymos commented on #34
I agree, `use_lb` as currently implemented is not that helpful when number of cores/workers is small.

[2018-04-13 16:15] dashaub opened #35 "pblapply() silently produces NULL while lapply() succeeds"
Apologies that this is neither minimal nor fully reproducible, but it is at least an example.

## Setup
[dat.gz](https://github.com/psolymos/pbapply/files/1905021/dat.gz)
This is running on R 3.4.4 (built from source) inside a Docker container on Debian Stretch from the [Rocker images](https://hub.docker.com/r/rocker/r-ver/):
[code]

I was also _not_ able to reproduce this behavior with R 3.4.4 on

[2018-04-13 17:29] psolymos commented on #35
Can you try with Socket cluster? It worked on Windows with R 3.3.3:

[code]

Or see if  `parallel::mclapply` gives you the same issue:

[code]

[2018-04-14 17:45] dashaub commented on #35
Good debugging advice.

Everything works fine with the socket cluster approach.

When using `mclapply()`, I get errors when I use `numCores` > 1, but it works fine when `numCores <- 1`

So it looks like there must be something going on with the "parallel" package breaking forking inside the Docker container.

[2018-04-14 17:45] #35 closed

[2018-04-14 18:27] psolymos commented on #35
Good to know it is a Docker/forking issue. A quick web search gave several hits with strange behaviour, but nothing too related to this. Something to watch for!

[2018-09-04 19:08] zzawadz commented on #29
Maybe something like this? I add a `trace` expression to the called function. Then I pass it to the standard mapply. What do you think @psolymos?

I don't know if it's production ready but I'll prepare a pull request with a bunch of tests. I'm worried about the
`env <- parent.frame(6)`, because I don't trust counting the number of parent envs...

[code]

[2018-09-07 16:12] psolymos commented on #29
PR #36 closed this issue

[2018-09-07 16:12] #29 closed

[2019-02-05 16:51] sdanielzafar commented on #29
When will this go to CRAN?

[2019-02-05 17:58] noahhaber commented on #29
I was just thinking that! Would be really great to make this more publicly accessible.

[2019-02-05 20:49] psolymos commented on #29
On it ... it somehow slipped my mind 😄 . Thanks for nudging me!

[2019-02-05 21:47] psolymos commented on #29
Submitted 1.4-0 to CRAN

[2019-05-26 15:51] kotoroshinoto opened #37 "progress bar doesn't erase previously printed characters if new output length < old output length"
progress bar doesn't erase previously printed characters if new output length < old output length

this in my experience, has happened when the remaining/elapsed timer text changes and near or at the end of the processing, there are several fewer characters than there were in the middle of the processing.

Perhaps you should track maximum length, or last printed length and use that to erase the ex

[2019-05-26 15:53] kotoroshinoto commented on #37
![image](https://user-images.githubusercontent.com/1337560/58384171-b20fe780-7fac-11e9-81c9-41df118e09a2.png)
it looks like this, see beyond the ~00s there is a 0ss left over from previous prints.
![image](https://user-images.githubusercontent.com/1337560/58384179-cf44b600-7fac-11e9-8bb0-cf4abaa98ef6.png)
in this case its showing an extra 14s beyond the last print.

[2019-05-28 18:33] psolymos commented on #37
Interesting. Thanks for reporting, I'll look into it.

[2019-05-28 18:34] #34 closed

[2019-05-28 18:35] #23 closed

[2019-05-28 18:35] #14 closed

[2019-07-12 19:21] #20 closed

[2019-07-12 21:22] #37 closed

[2019-08-14 08:58] Nowosad opened #39 "Error in environment(pbmapply): object 'pbmapply' not found"
I am working on a package using **pbapply** and the `pbmapply()` function.
This function works well in an interactive session after attaching **pbapply**, however there is an error while just calling the function using `::`.

[code]

<sup>Created on 2019-08-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-08-14 17:34] psolymos commented on #39
{pbapply} exports the `pbmapply` function. How does your `DESCRIPTION` look like? Is {pbapply} listed in Depends or Imports field? You need to list it as Imports to be able to access via `::` without explicitly importing in `NAMESPACE`.

[2019-08-14 17:42] Nowosad commented on #39
Hi @psolymos ,
I have it in Suggests following the advice at https://github.com/psolymos/pbapply#1-suggests-pbapply.
BTW `pbapply::pbreplicate()` and `pbapply::pblapply()` work without any problems...

[2019-08-14 18:26] psolymos commented on #39
I see. The issue is with `environment(pbmapply)` used inside the tracer. Try installing this branch and see if it helps: https://github.com/psolymos/pbapply/tree/issue-%2339-pbmapply-env

@zzawadz can you have a look too?
https://github.com/psolymos/pbapply/commits/issue-%2339-pbmapply-env

[2019-08-14 18:36] Nowosad commented on #39
The error message has changed to `Error in eval(expr, p) : object '.pb_env' not found`.
You can try it using my PR - https://github.com/psolymos/pbapplySuggests/pull/1.

[2019-08-14 18:56] psolymos commented on #39
{pbapplySuggests} fails on Travis because it pulls {pbapply} from CRAN. It works locally after this commit https://github.com/psolymos/pbapply/commit/f98a70a105b9008db94b9c6fd04ad25ce44d4159

[2019-08-14 19:04] Nowosad commented on #39
@psolymos it works now. Thank you!

[2019-08-14 19:26] #39 closed

[2019-08-28 15:25] Nowosad commented on #39
Dear @psolymos, would it be possible to upload this package version to CRAN?

[2019-08-30 18:03] psolymos commented on #39
Yes, I'll prepare an update in the next few days.

[2019-08-31 05:19] psolymos commented on #39
@Nowosad pbapply_1.4-2.tar.gz is on its way to CRAN.

[2019-12-12 17:03] psolymos opened #41 "R 3.6.2 follow up re apply"
R 3.6.2. release notes mention bugfix:

-`apply(diag(3), 2:3, mean)` now gives a helpful error message.

Look into this and bring in necessary updates.

[2019-12-12 17:04] psolymos commented on #41
`apply` body from R 3.6.0:

[code]

[2019-12-12 17:37] #41 closed

[2020-06-29 12:06] mrzdcmps commented on #21
This would be great. Any chance it is added?

[2020-06-29 19:01] #21 closed

[2020-06-29 19:21] mrzdcmps commented on #21
Thank you!

[2020-08-04 15:08] mrzdcmps commented on #21
It seems as if pbtapply is not exported in the latest version?
`'pbtapply' is not an exported object from 'namespace:pbapply'`

[2020-09-28 21:05] fcampelo opened #42 "Feature request: allow mclapply/parLapply options to be set when calling pblapply()"
Hi,

First of all, thanks for the awesome package. :-)

Is there a reason why the options of the underlying functions called by _pblapply_ (e.g., _mclapply_) are not available for the user? I'm particularly interested in being able to set _mc.preschedule_ (I'm running processes with very heterogeneous loads). I can give it a try and send a PR later, but I thought I would ask first. ;-)

All the be

[2020-09-29 14:54] psolymos commented on #42
@fcampelo thanks for the request. There is an [option](https://github.com/psolymos/pbapply/blob/72f9e56241549b3efacdd206a24f2258b15a6d49/R/zzz.R#L13) called `use_lb` for which the docs says _Switch for using load balancing when running in parallel clusters. The default value is `FALSE`_. The option is used because it switches the `parLapply` and `parLapplyLB` functions.

Besides this, the `pblappl

[2020-09-29 20:50] fcampelo commented on #42
Hi @psolymos , thanks a lot for the clarification! I wasn't aware of the `use_lb` option, my bad. :-)

The documentation of `pblapply` mentions that the `...` arguments are passed to FUN, but doesn't mention them being passed to `mclapply` as well, which is what confused me. In hindsight I probably should have checked the source code more carefully before opening the issue. ;-)

All the best, and

[2020-09-29 20:50] #42 closed

[2020-09-29 21:20] psolymos commented on #42
Added some explanation for future reference. Thanks @fcampelo for flagging it!

[2021-08-17 21:36] adayim opened #43 "Progress bar inside the function"
Hi, I have a loop inside a function and I am also calling this function with `lapply`. I tried to call the progress bar inside the loop it does not work. Although I can achieve this using by passing the the `bp` to the function.
[code]

Also, is it possible to have a format for the progress bar so can add some leading and tailing text, like `progress` package?

[2021-08-19 12:28] KarinSchork opened #44 "issue with rownames of pbapply result"
Hey! First, thanks very much for providing pbapply, it's really helpful!

I noticed a small issue when applying a function that returns a named vector to a data.frame. If the length of the returned vector is the same as the number of columns of the data.frame, then the rownames of the results from pbapply are not taken from the returned vector, but from the colnames of the data.frame. The standard

[2021-08-19 22:05] psolymos commented on #44
Thanks for reporting this. I'll have a look.

[2021-08-19 22:29] #44 closed

[2021-08-19 22:42] psolymos commented on #43
Yes, it works when you pass the `pb` to the `am_loop` function:

[code]

The problem with using `lapply` and `pbapply` is that you only have a single value, 100, so the bar would jump from 0 to 100% upon completion.

There is no way of adding custom leading/tailing text.

[2021-08-20 09:25] adayim commented on #43
That's good to know, thanks.

[2021-08-20 09:25] #43 closed

[2022-04-20 18:20] GreatEmerald opened #46 "Function for pb.mapply"
It's nice that `mapply` has a pb variant! But what about `.mapply()`? It's the "barebones" version without additional arguments, but also it has a handy `dots` argument instead of `...`, which allows to skip a call to `do.call()` to parse the dots. It seems pretty straight-forward to implement this function based on the `pbmapply` code?

[2022-04-24 22:31] psolymos commented on #46
Hey @GreatEmerald check the new dev version from gh if this is what you had in mind. See examples `?pb.mapply`.

[2022-04-27 03:11] #46 closed

[2022-08-08 14:32] aaronjfisher opened #47 "Have progress bar overwrite consistently in terminal (enhancement)"
Thank you for creating this package! I find the setTimerProgressBar function immensely useful.

This is a super minor issue, but there are some situations where running setTimerProgressBar in the terminal produces very messy output with 1 line printed per iteration. This is a similar issue to the one described regarding knitr reports. When I run R in the terminal, setTxtProgressBar _always_ produc

[2022-09-02 13:57] psolymos commented on #47
Hi @aaronjfisher thanks for the description, knowing when this happens helps. I think querying the terminal width and setting the bar width dynamically could be a solution. I recall that this is possible.

[2022-09-02 17:13] psolymos commented on #47
Looks like `getOption("width")` works dynamically in GUIs (RStudio, radian, etc), but not in terminal, as you noted (value stays `80L` irrespective of the TTY size).

The cli package comes with `cli::console_width()` that can be used to get the correct value, so can include something like this in your script to not let the progress bar too wide `options(width = min(50, cli::console_width()))`.

[2022-09-29 13:12] Kodiologist opened #48 "Add some kind of `pbfor`"
I use this package a lot. Sometimes I want the automatic progress bar for an operation I'm doing solely for the side-effects, so the accumulation of results probably wastes memory and computation time, and I have to use `invisible` to prevent printing. How about adding a function like `pbfor`, which would work like `pblapply` but always return `NULL`?

[2022-09-30 19:34] psolymos commented on #48
Hi @Kodiologist I am not sure what the function does that you reference here, but if you wrap those in an anonymous function that returns `NULL` (which is what `invisible()` does), you can avoid collecting any results.

If I want to avoid printing of the results in such cases, I usually capture the output to prevent printing, e.g.:

[code]

I will think a bit more about this.

[2022-10-01 12:59] Kodiologist commented on #48
I'm just saying that it should work like `pblapply` but not actually collect the results.

Perhaps I misunderstand some subtlety of R semantics, but my understanding is that when you say `invisible(pblapply(…))`, the results are still collected, and then are thrown away rather than being returned. Compare this pseudocode

[code]

to this

[code]

Both of these examples call `f` on the same objects

[2022-10-03 18:57] #47 closed

[2022-11-10 14:27] Kodiologist commented on #48
This bit me recently when I was using `pblapply` to show progress for a loop in which I was writing Parquet files with `arrow::read_parquet`. Collection of the return values that I wasn't using lead to the process eventually being killed for running out of RAM. Wrapping the `pblapply` in `invisible` doesn't help. Only making sure the callback itself returns `NULL` avoids the memory wastage. Even t

[2022-11-13 01:29] psolymos commented on #48
OK, I think you are after the behaviour of [`purrr::walk()`](https://purrr.tidyverse.org/reference/map.html) here:

Please check out the `pbwalk` branch: `remotes::install_github("psolymos/pbapply@pbwalk")`, try the `pbapply::pbwalk()` function, and let me know how it works.

Example:

[code]

[2022-11-13 20:25] Kodiologist commented on #48
Looks like it works. It indeed doesn't waste memory like `pblapply` does in my use case. I don't see the value in returning the input (like `purrr::walk`) rather than `NULL` (like `for`), but it probably doesn't make a difference in practice. Thanks for doing this.

[2022-11-14 00:16] psolymos commented on #48
Maybe what I can do is to reyurn `invisible(X)` at the end. I thought it should return `X` to avoid confusion when people are already familar with `purrr::walk`.

I'll merge this `pbwalk` branch. Thanks for checking.

[2022-11-14 02:20] psolymos commented on #48
@Kodiologist can you please check the new version with `remotes::install_github("psolymos/pbapply")`? I have made some changes and curious if your benchmarks are impacted or not. Thanks.

[2022-11-14 18:01] Kodiologist commented on #48
Memory usage still looks good with 395656b0a0bd5984a6e892989b4478f41609841e.

[2022-11-18 16:48] psolymos opened #50 "Add `pbby`"
Model `pbby()` after `by(data, INDICES, FUN, ..., simplify = TRUE)`.

[2022-11-18 16:53] psolymos opened #51 "Add `pbeapply`"
After `eapply(env, FUN, ..., all.names = FALSE, USE.NAMES = TRUE)`.

[2022-11-18 16:56] psolymos opened #52 "Add `pbvapply`"
After `vapply(X, FUN, FUN.VALUE, ..., USE.NAMES = TRUE)`.

[2022-11-18 17:56] psolymos opened #53 "Add `pbMap`"
After `Map(f, ...)`.

[2022-11-18 18:08] psolymos opened #54 "Support for future.apply as backend"
Add future as backend using [future.apply](https://future.apply.futureverse.org/index.html).

Could be done as a Suggests.

| base        |  future.apply | pbapply |
|-----------|--------------|----------|
| `apply`        |    x           |     x             |
|  `by`            |    x           |      #50            |
|  `lapply`       |     x          |      x            |
|  `eapply`      |

[2022-11-18 20:18] psolymos commented on #51
[code]

[2022-11-18 20:51] psolymos commented on #52
[code]

[2022-11-18 21:05] psolymos commented on #50
[code]

[2022-11-18 21:07] psolymos commented on #53
[code]

[2022-11-18 21:16] psolymos opened #55 "Add `cl` argument to `pbmapply`"
Have another look at this, although the trace might be hard to parallelize...
[code]

[2022-11-18 22:51] psolymos commented on #52
61bec2b3d2a518001343e4aea335482a013a1476

[2022-11-18 22:51] #52 closed

[2022-11-18 22:51] psolymos commented on #50
39f93016f6c2fae2aab9021e9c5cbbdffd7f1454

[2022-11-18 22:51] #50 closed

[2022-11-18 22:52] psolymos commented on #51
8c70e86f3e4b24b09ae9b0bc924ccacddc02914d

[2022-11-18 22:52] #51 closed

[2022-11-18 22:52] psolymos commented on #53
8e54233b7a4bbe66ff5d8ae7d9614bd7298ca893

[2022-11-18 22:52] #53 closed

[2022-11-19 06:39] psolymos commented on #54
@HenrikBengtsson : The `pb-future` branch added future backend support.

Install: `remotes::install_github("psolymos/pbapply@pb-future")`.

Examples:

[code]

[2022-11-23 22:21] HenrikBengtsson commented on #54
Great. Sorry, I still haven't had time to check it out

[2022-11-30 01:30] psolymos commented on #55
No easy way to do this, reopen as needed.

[2022-11-30 01:30] #55 closed